<h1>Welcome To Cinema Fusion Movie Site


</h1>
<form method="post" #f="ngForm" (ngSubmit)="addMovie(f)" novalidate>
  <input type="text" placeholder="Movie Title Here" name="title" ngModel>
  <input type="number" placeholder="Movie Release Year" name="year" min="2000"  max="2024" ngModel>
  <input type="text" placeholder="Movie Genre Here" name="genre" ngModel>
    <input type="text" placeholder="Movie Producer Here" name="producer" ngModel>
  <button type="submit">
    ADD MOVIE
  </button>
</form>

<button (click)="getMovies()">GET ALL MOVIES</button>
