<nav class="mainMenu">
  <h5 routerLink="/">CINEMA FUSION</h5>

  <a>Profile</a>
  <a>Favorites</a>
  <a>Recommended</a>
  <ng-select class="mainMenuSelect"
  [items]="allMovies"
   bindLabel="Title"
   [(ngModel)]="selectedMovie" 
   (ngModelChange)="movieSelected()"
   placeholder="Search Movies Here" 
   >
</ng-select>
   <button id="userAccountButton" (click)="openUserAccount()">
       
<img src="../../assets/icons8-user-32.png">Login/Create Account 
   </button>

</nav>
<app-header></app-header>
<!--
<h1>Welcome To Cinema Fusion Movie Site, ADMIN
<br>Click below to add and parse movies
</h1>
<input (change)="addAllMovies()" type="file" id="fileInput">
<button (click)="addAllMovies()"> ADD 1 Movie from file</button>
<button (click)="getRandomMovie()">GET RANDOM MOVIE (check console)</button>
<h2>ADD MOVIES BELOW</h2>
<form method="post" #f="ngForm" (ngSubmit)="addMovie(f)" novalidate>
  <input type="text" placeholder="Movie File Here" name="moviefile" ngModel>
  
  <button type="submit">
    ADD MOVIE
  </button>
</form>-->

 