<div class="modal">
    <div class="modal-content">
      <h2>Movie Recommendation</h2>
      <p>Title: {{ movie.title }}</p>
      <p>Year: {{ movie.year }}</p>
      <p>Genre: {{ movie.genre.join(', ') }}</p>
      <p>Plot: {{ movie.plot }}</p>
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
  

  
  
<!-- <h5>
    Select (or search) from the dropdown the genre you are interested in
</h5>
            <ng-select 
                class="col1Select"
                [items]="genresList"
                bindLabel="Title"
                [(ngModel)]="currentGenre" 
                (ngModelChange)="fillGenres()"
                [multiple]="false"
                placeholder="Choose genre here"
                [closeOnSelect]="true"
            >
            </ng-select>
            <h1>
                Your Random Movies By Genre
            </h1>
            <div *ngFor="let movie of genreMovies; let i = index">
                <div class="infoHolder">
                    <h2>
                        Movie Title #{{i+1}}:<br> {{movie.Title}}
                    </h2>
                    <h3>
                    Description:<br> {{movie.Overview}}
                    </h3>
                    <h3>
                        Language:<br> {{movie.OriginalLanguage}}
                    </h3>
                    <h3>
                    Release Date:<br> {{movie.ReleaseDate}}
                    </h3>
                    <h3>
                    Runtime Minutes:<br> {{movie.RuntimeMinutes}}
                    </h3>         
                </div>           
            </div> -->


<!-- <div class="modal-body">
    <h3>Movie Recommendations</h3>
    <ul>
      <li *ngFor="let movie of data">{{ movie }}</li>
    </ul>
  </div>  -->

  