<h5>Select from below the genre(s) you are interested in:</h5>

<button style="position: sticky; top: 10px; float: right;"class="btn btn-primary" (click)="fillGenres()">Get Recommendations</button>
<div class="container">
  <div class="row">
    <div (click)="genreSelected(i)" *ngFor="let item of genresList; let i = index" id="genreDiv-{{i}}"
      class="col genre">
      <img src={{genresUrls[i]}} width="150" height="150">
      <a style="display: block;">{{item}}</a>
    </div>
</div>
<!--<div class="checkbox-list">
  <div *ngFor="let genre of genresList; let i = index" class="form-check">
    <input
      type="checkbox"
      class="form-check-input"
      (click)=""
      
    />
    <label class="form-check-label" for="{{genre}}">{{genre}}</label>
  </div>
</div>
-->

<!-- <h1>Your Random Movies By Genre</h1> -->

<div *ngFor="let movie of genreMovies; let i = index">
  <div class="infoHolder">
    <h2>Movie Title #{{i+1}}:<br> {{movie.Title}}</h2>
    <h3>Description:<br> {{movie.Overview}}</h3>
    <h3>Language:<br> {{movie.OriginalLanguage}}</h3>
    <h3>Release Date:<br> {{movie.ReleaseDate}}</h3>
    <h3>Runtime Minutes:<br> {{movie.RuntimeMinutes}}</h3>
  </div>
</div>

<!-- (change)="fillGenres()" at line 10-->