h5{
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 1));
    font-family: Impact;
    font-size: 50px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    margin: 0;
}

#userAccountButton {

    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 1));
    font-family: Impact;
    color:white;
    font-size:25px;
    position:absolute;
    top: 20px;
    right: 240px;
    background-color: transparent;
    border-color:white;
    
    
}

#searchMovieButton {

    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 1));
    font-family: Impact;
    color:white;
    font-size:25px;
    position:absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border-color:white;
}