.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff9f;
    padding: 50px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }

label {
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Comic Sans MS', sans-serif;
}

select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Comic Sans MS', sans-serif;
    box-sizing: border-box;
}

option {
    font-size: 16px;
}
button {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.recommendation-box {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 20px;
    background-color: rgba(255, 255, 255, .8); /* Set background color of the box */
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
  }
  
  .movie-details {
    margin-bottom: 10px; /* Add margin between movie details and buttons */
  }
  
  .button-group {
    display: flex; /* Use flexbox to align buttons horizontally */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
  }
  
  .custom-button {
    margin: 0 5px; /* Add margin around each button */
    padding: 5px 5px; /* Adjust padding to change button size */
  }
  
  