<div class="container mt-4">
    <form #quizForm="ngForm" (ngSubmit)="getRecommendation(quizForm)">
    <label for="weather">How is the weather in your location?</label>
    <select name="weather" id="weather" ngModel>
        <option value="sunny">Sunny</option>
        <option value="cloudy">Cloudy</option>
        <option value="rainy">Rainy</option>
        <option value="snowy">Snowy</option>
        <option value="windy">Windy</option>
        <option value="thunderstorms">Thunderstorms</option>
        <option value="clearskies">Clear skies</option>
    </select>

    <label for="feelings">How are you feeling today?</label>
    <select name="feelings" id="feelings" ngModel>
        <option value="happy">Happy</option>
        <option value="sad">Sad</option>
        <option value="excited">Excited</option>
        <option value="calm">Calm</option>
        <option value="angry">Angry</option>
    </select>

    <label for="gender">What is your gender?</label>
    <select name="gender" id="gender" ngModel>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="nonBinary">Non-binary</option>
        <option value="notSay">Prefer not to say</option>
    </select>

    <label for="age">What is your age group?</label>
    <select name="age" id="age" ngModel>
        <option value="under 18">Under 18</option>
        <option value="18-24">18-24</option>
        <option value="25-34">25-34</option>
        <option value="35-44">35-44</option>
        <option value="45+">45 and above</option>
    </select>

    <label for="time">How much time do you have for a movie right now?</label>
    <select name="time" id="time" ngModel>
        <option value="short">Short (up to 1 hour)</option>
        <option value="average">Average (1-2 hours)</option>
        <option value="long">Long (more than 2 hours)</option>
    </select>

    <label for="when">Do you prefer recent releases or classic films?</label>
    <select name="when" id="when" ngModel>
        <option value="recent">Recent releases</option>
        <option value="classic">Classic films</option>
        <option value="both">Both</option>
    </select>

    <br><br>
    <button type="submit">Get Recommendation</button>
</form>
<!-- Show the user recommendations component if recommendedMovie is defined -->
<app-user-recommendations *ngIf="recommendedMovie" [movie]="recommendedMovie"></app-user-recommendations>
  
</div>